<div class="p-3">
  <h2 class="lead">クライアント登録</h2>
  <%= flash[:error] %>
  <%= form_with model: @client do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: "form-label" %><br>
      <%= form.text_field :name, class: "form-control" %>
      <% @client.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= submit_tag '登録', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
