<div class="p-3">
  <div class="d-flex">
    <h2 class="lead">クライアント登録</h2>
    <span class="mx-4"><%= link_to "FP登録画面へ", new_financial_planner_path, { class: "text-decoration-none"} %></span>
  </div>
  <% if flash[:error] %>
      <div class="alert alert-danger mb-0" role="alert">
          <p class="mb-0"><%= flash[:error] %></p>
          <% @client.errors.full_messages_for(:name).each do |message| %>
            <p class="mb-0"><%= message %></p>
          <% end %>
      </div>
  <% end %>
  <%= form_with model: @client do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= submit_tag '登録', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
