<div class="p-3">
  <div class="d-flex">
    <h2 class="lead">FP登録</h2>
    <span class="mx-4"><%= link_to "クライアント登録画面へ", new_client_path, { class: "text-decoration-none"} %></span>
  </div>
  <% if flash[:error] %>
      <div class="alert alert-danger" role="alert">
          <%= flash[:error] %>
      </div>
  <% end %>
  <%= form_with model: @financial_planner do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: "form-label" %><br>
      <%= form.text_field :name, class: "form-control" %>
      <% @financial_planner.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= submit_tag '登録', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
